modules = ["nodejs-20"]
[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 2892970
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node main.js"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80
